.header-bar {
    background-color: white;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 20px;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

.title {
    float: left;
}

.search-bar {
    width: calc(100% - 6em);
}

.search-button {
    width: 6em;
}

div.row {
  text-align: center;
}

.card {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.card li {
  margin-bottom: 10px;
}

.header {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.header-compact {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  .header-main {
    width: 100%;
    order: 3;
  }
  .header-aside {
    width: 50%;
    height: 2em;
  }
}

.header-main {
  width: 70%;
}

.header-aside {
  width: 15%;
}

a {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

.product-price {
  font-weight: bold;
}

.mat-card .last-child {
  margin-bottom: 0;
  text-align: left;
}

.comp-mode {
    min-width: 150px;
    max-width: 250px;
}

.reg-mode {
    width: 100%;
}

.product-url {
  color: darkgreen;
  font-size: 85%;
}
