/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html {
  background-color: #fafafa;
}

body {
  margin: 0;
}

span.highlighted {
  background: yellow;
}

.main-content {
  width: 80%;
  margin: auto;
  margin-top: 150px;
}

.header-inner {
  width: 80%;
  margin: auto;
}

.text-align-right {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .main-content {
    width: 95%;
  }

  .hide-under-600px {
    display: none !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.no-text-select {
  user-select: none;
}